@font-face {
  font-family: "Inter-Sans-serif";

  src: local("Inter-Sans-serif"),
    url("../assets/fonts/inter/Inter-VariableFont_opsz\,wght.ttf")
      format("truetype");
}

@font-face {
  font-family: "Noto-Serif";

  src: local("Noto-Serif"),
    url("../assets/fonts/noto/Noto-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "SourceCodePro-MonoSpace";

  src: local("SourceCodePro"),
    url("../assets/fonts/source-code-pro/SourceCodePro-VariableFont_wght.ttf")
      format("truetype");
}

:root {
    /*Colors*/
    /* Neutral */
    --neutral-950: #0E121B;
    --neutral-900: #191B25;
    --neutral-800: #232530;
    --neutral-700: #2B303B;
    --neutral-600: #525866;
    --neutral-500: #717784;
    --neutral-400: #99A0AE;
    --neutral-300:#CACFD8;
    --neutral-200: #E0E4EA;
    --neutral-100: #F3F5F8;
    --neutral-50: #F5F7FA;
    --neutral-0: #FFFFFF;
    /* Blue */
    --blue-700: #2547D0;
    --blue-500: #335CFF;
    --blue-50: #EBF1FF;
    /* Green */
    --green-500: #21C16B;
    --green-100: #D1FBE9;
    /* Red */
    --red-500: #FB3748;
    --red-100: #FFE5E8;



}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
}
.text {
  font-family: "Inter-Italic", sans-serif;
}
