* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-app);
  font-size: var(--text-preset-6-font-size);
  font-weight: var(--text-preset-5-6-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  background-color: var(--reset-password-page-bg);
  width: 100%;
}

.reset-password__container {
  height: 476px;
  width: 540px;
  margin: 130px auto;
  padding: 48px;
  border-radius: var(--radius-12);
  background-color: var(--reset-password-page-container);
}
.reset-password__logo-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}

.reset-password__logo-icon {
  fill: var(--logo-icon);
}

.reset-password__header {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.reset-password__header-title {
  font-size: var(--text-preset-1-font-size);
  letter-spacing: var(--text-preset-1-2-letter-spacing);
  font-weight: var(--text-preset-1-2-font-weight);
  color: var(--reset-password-title-color);
  margin-bottom: 8px;
}

.reset-password__header-text {
  font-size: var(--text-preset-4-5-font-size);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  font-weight: var(--text-preset-5-6-font-weight);
  color: var(--reset-password-text-color);
}

/*Text box */
.reset-password__text-box {
  padding-top: 24px;
}

.reset-password__text-box-header {
  width: 444px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.reset-password__text-box-label {
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-4-5-font-size);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  font-weight: var(--text-preset-4-font-weight);
}

.reset-password__text-box-link {
  font-family: var(--text-preset-font-family-sans-serif);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  font-weight: var(--text-preset-5-6-font-weight);
  font-size: var(--text-preset-6-font-size);
  color: var(--neutral-600);

  text-decoration: underline;
  cursor: pointer;
  color: var(--neutral-600);
}

.reset-password__text-box-link:hover,
.reset-password__text-box-link:focus {
  color: var(--blue-500);
}

.reset-password__text-box-body-input {
  position: relative;
  display: inline-block;
  color: var(--neutral-500);
  font-size: var(--text-preset-4-5-font-size);
  font-family: var(--text-preset-font-family-sans-serif);
  line-height: var(--text-preset-line-height-sans-serif);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  margin-bottom: 6px;
}

.reset-password__text-box-body {
  margin-bottom: 16px;
}

.reset-password__text-box-show-icon1 {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: currentColor;
}

.reset-password__text-box-input {
  width: 444px;
  height: 44px;
  border-radius: var(--radius-8);
  border: 1px solid var(--reset-password-text-input-border-color);
  padding: 12px 24px;
  background-color: var(--reset-password-text-input-color);
}
.reset-password__text-box-input:hover {
  background-color: var(--reset-password-text-input-color-hover);
}

.reset-password__text-box-input:focus-visible {
  outline: none;
  box-shadow: var(--reset-password-text-input-box-shadow);
}

.reset-password__text-box-input:disabled {
  outline: none;
  border: 1px solid var(--neutral-300);
}
.reset-password__text-box-input:disabled::placeholder {
  color: var(--neutral-300);
}

.reset-password__text-box-input:-webkit-autofill,
.reset-password__text-box-input:autofill {
  background-color: var(--neutral-300);
}

.reset-password__text-box-input:invalid {
  border-color: var(--red-500);
}

.reset-password__text-box-show-icon2 {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: currentColor;
}

.reset-password__text-box-info {
  width: 300px;
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-6-font-size);
  font-weight: var(--text-preset-5-6-font-weight);
  line-height: var(--text-preset-line-height-sans-serif);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--reset-password-error-section-color);
}

/*this showed also be appended in js for error*/
.reset-password__text-box--error
  .forget-password__text-box-body
  .forget-password__text-box-info {
  color: var(--red-500);
}
/*this showed be appended in js for disabled*/
.reset-password__text-box--disabled
  .forget-password__text-box-body
  .forget-password__text-box-info {
  color: var(--neutral-300);
}

.reset-password__btn {
  height: 41px;
  padding: var(--spacing-150) var(--spacing-200);
  border-radius: var(--radius-8);
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-4-5-font-size);
  line-height: var(--text-preset-4-5-6-letter-spacing);
  font-weight: var(--text-preset-4-font-weight);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-100);
}

.reset-password__btn--primary {
  width: 444px;
  background-color: var(--blue-500);
  color: var(--neutral-0);
  border: none;
}

.reset-password__btn--primary:hover {
  background-color: var(--blue-700);
}
.reset-password__btn--primary:focus-visible {
  outline: none;
  box-shadow:
    0px 0px 0px 2px var(--neutral-0),
    0px 0px 0px 4px var(--neutral-400);
}

.reset-password__btn--primary:disabled {
  background-color: var(--neutral-100);
  color: var(--neutral-300);
}
