<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/variables.css" />
    <link rel="stylesheet" href="./sidebar-all-notes.css" />
    <title>Sidebar All Notes</title>
  </head>
  <body>
    <aside class="sidebar">
      <button class="sidebar__btn sidebar__btn--primary">Primary</button>

      <ul class="sidebar__nav">
        <li>
          <a href="#">
            <div class="sidebar__note-item">
              <p>React Performance Optimization</p>
              <div class="sidebar__note-item-tags">
                <div class="sidebar__tags">
                  <p class="sidebar__tags-text">Dev</p>
                </div>
                <div class="sidebar__tags">
                  <p class="sidebar__tags-text">React</p>
                </div>
                <p class="sidebar__note-item-date">29 Oct 2024</p>
              </div>
            </div>
          </a>
        </li>
        <li>
          <!-- <div class="sidebar__note-item">
              <h1>Japan Travel Planning</h1>
              <div class="sidebar__note-item-tags">
                <div class="sidebar__tags">
                  <p class="sidebar__tags-text">Travel</p>
                </div>
                <div class="sidebar__tags">
                  <p class="sidebar__tags-text">Personal</p>
                </div>
                <p class="sidebar__note-item-date">29 Oct 2024</p>
              </div>
            </div> -->
        </li>
      </ul>
    </aside>

    <main>
      <p>content</p>
    </main>
  </body>
</html>
