* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  height: 41px;
  padding: var(--spacing-150) var(--spacing-200);
  border-radius: var(--radius-8);
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-4-5-font-size);
  line-height: var(--text-preset-4-5-6-letter-spacing);
  font-weight: var(--text-preset-4-font-weight);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-100);
}

.btn--primary {
  width: 130px;
  background-color: var(--blue-500);
  color: var(--neutral-0);
  border: none;
}

.btn--primary:hover {
  background-color: var(--blue-700);
}
.btn--primary:focus-visible {
  outline: none;
  box-shadow:
    0px 0px 0px 2px var(--neutral-0),
    0px 0px 0px 4px var(--neutral-400);
}

.btn--primary:disabled {
  background-color: var(--neutral-100);
  color: var(--neutral-300);
}

.btn--secondary {
  width: 150px;
  background-color: var(--neutral-100);
  color: var(--neutral-600);
  border: none;
}

.btn--secondary:hover {
  color: var(--neutral-950);
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-300);
}
.btn--secondary:focus-visible {
  outline: none;
  color: var(--neutral-950);
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-950);
  box-shadow:
    0px 0px 0px 2px var(--neutral-0),
    0px 0px 0px 4px var(--neutral-400);
}

.btn--secondary:disabled {
  background-color: var(--neutral-50);
  color: var(--neutral-300);
}

.btn--border {
  height: 44px;
  width: 151px;
  background-color: transparent;
  color: var(--neutral-950);
  border: 1px solid var(--neutral-300);
}

.btn__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.btn--border:hover {
  background-color: var(--neutral-100);
  color: var(--neutral-600);
}
.btn--border:focus-visible {
  outline: none;
  color: var(--neutral-950);
  border: 1px solid var(--neutral-950);
  box-shadow:
    0px 0px 0px 2px var(--neutral-0),
    0px 0px 0px 4px var(--neutral-400);
}
.btn--border:disabled {
  color: var(--neutral-300);
  background-color: var(--neutral-50);
  border: none;
}

