* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Light mode*/

.toast {
  width: 390px;
  height: 32px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--neutral-200);
  border-radius: var(--radius-8);
}
.toast__left {
  display: flex;
  gap: 8px;
  align-items: center;
}

.toast__right {
  display: flex;
  gap: 8px;
}

.toast__checkmark-icon {
  fill: var(--green-500);
}

.toast__text {
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-6-font-size);
  font-weight: var(--text-preset-5-6-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  line-height: var(--text-preset-line-height-sans-serif);
}

.toast__view-link {
  color: var(--neutral-950);
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-6-font-size);
  font-weight: var(--text-preset-5-6-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  line-height: var(--text-preset-line-height-sans-serif);
}
.toast__close-link {
  display: flex;
  align-items: center;
}

.toast__close-icon {
  stroke: var(--neutral-400);
}

/*Dark mode*/

/* .toast {
  width: 390px;
  height: 32px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--neutral-800);
  border: 1px solid var(--neutral-700);
  border-radius: var(--radius-8);
}
.toast__left {
  display: flex;
  gap: 8px;
  align-items: center;
}

.toast__right {
  display: flex;
  gap: 8px;
}

.toast__checkmark-icon {
  fill: var(--green-500);
}

.toast__text {
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-6-font-size);
  font-weight: var(--text-preset-5-6-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  line-height: var(--text-preset-line-height-sans-serif);
  color: var(--neutral-0);
}

.toast__view-link {
  color: var(--neutral-0);
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-6-font-size);
  font-weight: var(--text-preset-5-6-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  line-height: var(--text-preset-line-height-sans-serif);
}
.toast__close-link {
  display: flex;
  align-items: center;
}
.toast__close-icon {
  stroke: var(--neutral-400);
} */
