* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---Desktop Page-Header */
/* .page-header {
  width: 1168px;
  display: flex;
  justify-content: space-between;
  padding: 18px 14px;
}
.page-header__title {
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-1-font-size);
  font-weight: var(--text-preset-1-2-font-weight);
  letter-spacing: var(--text-preset-1-2-letter-spacing);
}

.page-header__body-input {
  display: inline-block;
  position: relative;
  color: var(--neutral-500);
}

.page-header__search-icon {
  fill: currentColor;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.page-header__search {
  width: 300px;
  height: 44px;
  border-radius: var(--radius-8);
  border: 1px solid var(--neutral-300);
  padding: 12px 40px;
  font-size: var(--text-preset-4-5-font-size);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  font-weight: var(--text-preset-5-6-font-weight);
}

.page-header__settings-icon {
  vertical-align: middle;
  margin-left: 16px;
  fill: var(--neutral-500);
}

.divider {
  width: 1168px;
  height: 1px;
  color: var(--neutral-200);
} */

/*---Tablet Page-Header Light Mode*/

/* .page-header {
  width: 768px;
  height: 74px;
  background-color: var(--neutral-100);
  display: flex;
  align-items: center;
}
.page-header__icon {
  margin-left: 32px;
} */

/*---Tablet Page-Header Dark Mode*/

/* .page-header {
  width: 768px;
  height: 74px;
  background-color: var(--neutral-800);
  display: flex;
  align-items: center;
}

.page-header__icon {
  margin-left: 32px;
  fill: var(--neutral-0);
} */

/*---Mobile Page-Header Light Mode*/

/* .page-header {
  width: 343px;
  height: 54px;
  background-color: var(--neutral-100);
  display: flex;
  align-items: center;
}

.page-header__icon {
  margin-left: 32px;
} */

/*---Mobile Page-Header Dark Mode*/

/* .page-header {
  width: 343px;
  height: 54px;
  background-color: var(--neutral-800);
  display: flex;
  align-items: center;
}

.page-header__icon {
  margin-left: 32px;
  fill: var(--neutral-0);
} */

/*--- Tablet Page Header Control Light Mode*/
/* 
.page-header-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 693px;
  height: 50px;
  background-color: transparent;
}

.page-header-control__right-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.page-header-control__go-back {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.page-header-control__link {
  text-decoration: none;
}

.page-header-control__fill {
  fill: var(--neutral-600);
}
.page-header-control__stroke {
  stroke: var(--neutral-600);
}

.page-header-control__back-text {
  display: inline-block;
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-4-5-font-size);
  font-weight: var(--text-preset-4-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  line-height: var(--text-preset-line-height-sans-serif);
  color: var(--neutral-600);
}

.page-header-control__cancel {
  text-decoration: none;
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-4-5-font-size);
  font-weight: var(--text-preset-4-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  line-height: var(--text-preset-line-height-sans-serif);
  color: var(--neutral-600);
}

.page-header-control__save {
  text-decoration: none;
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-4-5-font-size);
  font-weight: var(--text-preset-4-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  line-height: var(--text-preset-line-height-sans-serif);
  color: var(--blue-500);
}

.divider {
  width: 693px;
  height: 1px;
  color: var(--neutral-200);
} */

/*---Tablet Page Header Control Dark Mode*/

/*.page-header-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 693px;
  height: 50px;
  background-color: var(--neutral-950);
}

.page-header-control__right-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.page-header-control__go-back {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.page-header-control__link {
  text-decoration: none;
}

.page-header-control__fill {
  fill: var(--neutral-300);
}
.page-header-control__stroke {
  stroke: var(--neutral-300);
}

.page-header-control__back-text {
  display: inline-block;
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-4-5-font-size);
  font-weight: var(--text-preset-4-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  line-height: var(--text-preset-line-height-sans-serif);
  color: var(--neutral-300);
}

.page-header-control__cancel {
  text-decoration: none;
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-4-5-font-size);
  font-weight: var(--text-preset-4-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  line-height: var(--text-preset-line-height-sans-serif);
  color: var(--neutral-300);
}

.page-header-control__save {
  text-decoration: none;
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-4-5-font-size);
  font-weight: var(--text-preset-4-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  line-height: var(--text-preset-line-height-sans-serif);
  color: var(--blue-500);
}

.divider {
  width: 693px;
  height: 1px;
  color: var(--neutral-800);
} */

/*---Mobile Page Header Control Dark Mode*/
/* 
.page-header-control {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 343px;
  height: 40px;
  background-color: var(--neutral-950);
  padding-bottom: 12px;
  padding-top: 2px;
  gap: 12px;
}

.page-header-control__right-control {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 16px;
}

.page-header-control__go-back {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.page-header-control__link {
  text-decoration: none;
}

.page-header-control__fill {
  fill: var(--neutral-300);
}
.page-header-control__stroke {
  stroke: var(--neutral-300);
}

.page-header-control__back-text {
  display: inline-block;
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-4-5-font-size);
  font-weight: var(--text-preset-4-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  line-height: var(--text-preset-line-height-sans-serif);
  color: var(--neutral-300);
}

.page-header-control__cancel {
  text-decoration: none;
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-4-5-font-size);
  font-weight: var(--text-preset-4-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  line-height: var(--text-preset-line-height-sans-serif);
  color: var(--neutral-300);
}

.page-header-control__save {
  text-decoration: none;
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-4-5-font-size);
  font-weight: var(--text-preset-4-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  line-height: var(--text-preset-line-height-sans-serif);
  color: var(--blue-500);
}

.divider {
  width: 343px;
  height: 1px;
  color: var(--neutral-800);
} */

/*---Mobile Page Header Control Light Mode*/

.page-header-control {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 343px;
  height: 40px;
  background-color: transparent;
  padding-bottom: 12px;
  padding-top: 2px;
  gap: 12px;
}

.page-header-control__right-control {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 16px;
}

.page-header-control__go-back {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.page-header-control__link {
  text-decoration: none;
}

.page-header-control__fill {
  fill: var(--neutral-600);
}
.page-header-control__stroke {
  stroke: var(--neutral-600);
}

.page-header-control__back-text {
  display: inline-block;
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-4-5-font-size);
  font-weight: var(--text-preset-4-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  line-height: var(--text-preset-line-height-sans-serif);
  color: var(--neutral-600);
}

.page-header-control__cancel {
  text-decoration: none;
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-4-5-font-size);
  font-weight: var(--text-preset-4-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  line-height: var(--text-preset-line-height-sans-serif);
  color: var(--neutral-600);
}

.page-header-control__save {
  text-decoration: none;
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-4-5-font-size);
  font-weight: var(--text-preset-4-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  line-height: var(--text-preset-line-height-sans-serif);
  color: var(--blue-500);
}

.divider {
  width: 343px;
  height: 1px;
  color: var(--neutral-200);
}
