* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Modal - Delete Note and Archive Note Light Modal */

/* .modal {
  width: 440px;
  height: 175px;
  border-radius: var(--radius-12);
  border: 1px solid var(--neutral-200);
}

.modal__top {
  display: flex;
  gap: 16px;
  padding: 20px;
}

.modal__icon-container {
  width: 40px;
  height: 40px;
  background-color: var(--neutral-100);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-8);
}
.modal__icon {
  stroke: var(--neutral-950);
}

.modal__info {
  font-family: var(--text-preset-font-family-sans-serif);
  color: var(--neutral-950);
}

.modal__info-title {
  font-size: var(--text-preset-3-font-size);
  line-height: var(--text-preset-line-height-sans-serif);
  font-weight: var(--text-preset-3-font-weight);
  letter-spacing: var(--text-preset-3-letter-spacing);
  margin-bottom: 6px;
}
.modal__info-description {
  font-size: var(--text-preset-4-5-font-size);
  line-height: var(--text-preset-line-height-sans-serif);
  font-weight: var(--text-preset-5-6-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  width: 344px;
}

.modal__divider {
  height: 1px;
  background-color: var(--neutral-200);
  border: none;
}

.modal__bottom {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  padding: 16px 20px;
}

.modal__btn {
  height: 41px;
  padding: var(--spacing-150) var(--spacing-200);
  border-radius: var(--radius-8);
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-4-5-font-size);
  line-height: var(--text-preset-4-5-6-letter-spacing);
  font-weight: var(--text-preset-4-font-weight);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-100);
}

.modal__btn--secondary {
  width: 78px;
  background-color: var(--neutral-100);
  color: var(--neutral-600);
  border: none;
}

.modal__btn--secondary:hover {
  color: var(--neutral-950);
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-300);
}
.modal__btn--secondary:focus-visible {
  outline: none;
  color: var(--neutral-950);
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-950);
  box-shadow: 0px 0px 0px 2px var(--neutral-0),
    0px 0px 0px 4px var(--neutral-400);
}

.modal__btn--secondary:disabled {
  background-color: var(--neutral-50);
  color: var(--neutral-300);
}

.modal__btn--primary {
  width: 120px;
  background-color: var(--red-500);
  color: var(--neutral-0);
  border: none;
}

.modal__btn--primary:hover {
  background-color: var(--red-500);
}
.modal__btn--primary:focus-visible {
  outline: none;
  box-shadow: 0px 0px 0px 2px var(--neutral-0),
    0px 0px 0px 4px var(--neutral-400);
}

.modal__btn--primary:disabled {
  background-color: var(--neutral-100);
  color: var(--neutral-300);
} */

/* Modal - Delete Note  and Archive Note Dark Modal */

/* .modal {
  width: 440px;
  height: 175px;
  border-radius: var(--radius-12);
  border: 1px solid var(--neutral-600);
  background-color: var(--neutral-700);
}

.modal__top {
  display: flex;
  gap: 16px;
  padding: 20px;
}

.modal__icon-container {
  width: 40px;
  height: 40px;
  background-color: var(--neutral-600);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-8);
}
.modal__icon {
  stroke: var(--neutral-0);
}

.modal__info {
  font-family: var(--text-preset-font-family-sans-serif);
  color: var(--neutral-200);
}

.modal__info-title {
  color: var(--neutral-0);
  font-size: var(--text-preset-3-font-size);
  line-height: var(--text-preset-line-height-sans-serif);
  font-weight: var(--text-preset-3-font-weight);
  letter-spacing: var(--text-preset-3-letter-spacing);
  margin-bottom: 6px;
}
.modal__info-description {
  font-size: var(--text-preset-4-5-font-size);
  line-height: var(--text-preset-line-height-sans-serif);
  font-weight: var(--text-preset-5-6-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  width: 344px;
}

.modal__divider {
  height: 1px;
  background-color: var(--neutral-600);
  border: none;
}

.modal__bottom {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  padding: 16px 20px;
}

.modal__btn {
  height: 41px;
  padding: var(--spacing-150) var(--spacing-200);
  border-radius: var(--radius-8);
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-4-5-font-size);
  line-height: var(--text-preset-4-5-6-letter-spacing);
  font-weight: var(--text-preset-4-font-weight);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-100);
}

.modal__btn--secondary {
  width: 78px;
  background-color: var(--neutral-500);
  color: var(--neutral-200);
  border: none;
}

.modal__btn--secondary:hover {
  color: var(--neutral-950);
  background-color: var(--neutral-400);
  border: 1px solid var(--neutral-300);
}
.modal__btn--secondary:focus-visible {
  outline: none;
  color: var(--neutral-950);
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-950);
  box-shadow: 0px 0px 0px 2px var(--neutral-0),
    0px 0px 0px 4px var(--neutral-400);
}

.modal__btn--secondary:disabled {
  background-color: var(--neutral-50);
  color: var(--neutral-300);
}

.modal__btn--primary {
  width: 120px;
  background-color: var(--red-500);
  color: var(--neutral-0);
  border: none;
}

.modal__btn--primary:hover {
  background-color: var(--red-500);
}
.modal__btn--primary:focus-visible {
  outline: none;
  box-shadow: 0px 0px 0px 2px var(--neutral-0),
    0px 0px 0px 4px var(--neutral-400);
}

.modal__btn--primary:disabled {
  background-color: var(--neutral-100);
  color: var(--neutral-300);
} */

/* Modal - Delete Note and Archive Note  Light Modal Mobile*/

.modal {
  width: 343px;
  height: 193px;
  border-radius: var(--radius-12);
  border: 1px solid var(--neutral-200);
}

.modal__top {
  display: flex;
  gap: 16px;
  padding: 20px;
}

.modal__icon-container {
  width: 40px;
  height: 40px;
  background-color: var(--neutral-100);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-8);
}
.modal__icon {
  stroke: var(--neutral-950);
}

.modal__info {
  font-family: var(--text-preset-font-family-sans-serif);
  color: var(--neutral-950);
}

.modal__info-title {
  font-size: var(--text-preset-3-font-size);
  line-height: var(--text-preset-line-height-sans-serif);
  font-weight: var(--text-preset-3-font-weight);
  letter-spacing: var(--text-preset-3-letter-spacing);
  margin-bottom: 6px;
}
.modal__info-description {
  font-size: var(--text-preset-4-5-font-size);
  line-height: var(--text-preset-line-height-sans-serif);
  font-weight: var(--text-preset-5-6-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
  width: 247px;
}

.modal__divider {
  height: 1px;
  background-color: var(--neutral-200);
  border: none;
}

.modal__bottom {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  padding: 16px 20px;
}

.modal__btn {
  height: 41px;
  padding: var(--spacing-150) var(--spacing-200);
  border-radius: var(--radius-8);
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-4-5-font-size);
  line-height: var(--text-preset-4-5-6-letter-spacing);
  font-weight: var(--text-preset-4-font-weight);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-100);
}

.modal__btn--secondary {
  width: 78px;
  background-color: var(--neutral-100);
  color: var(--neutral-600);
  border: none;
}

.modal__btn--secondary:hover {
  color: var(--neutral-950);
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-300);
}
.modal__btn--secondary:focus-visible {
  outline: none;
  color: var(--neutral-950);
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-950);
  box-shadow: 0px 0px 0px 2px var(--neutral-0),
    0px 0px 0px 4px var(--neutral-400);
}

.modal__btn--secondary:disabled {
  background-color: var(--neutral-50);
  color: var(--neutral-300);
}

.modal__btn--primary {
  width: 120px;
  background-color: var(--red-500);
  color: var(--neutral-0);
  border: none;
}

.modal__btn--primary:hover {
  background-color: var(--red-500);
}
.modal__btn--primary:focus-visible {
  outline: none;
  box-shadow: 0px 0px 0px 2px var(--neutral-0),
    0px 0px 0px 4px var(--neutral-400);
}

.modal__btn--primary:disabled {
  background-color: var(--neutral-100);
  color: var(--neutral-300);
}

/* Modal - Delete Note Dark and Archive Note Modal Mobile*/

/* .modal {
    width: 343px;
  height: 193px;
  border-radius: var(--radius-12);
  border: 1px solid var(--neutral-600);
  background-color: var(--neutral-700);
}

.modal__top {
  display: flex;
  gap: 16px;
  padding: 20px;
}

.modal__icon-container {
  width: 40px;
  height: 40px;
  background-color: var(--neutral-600);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-8);
}
.modal__icon {
  stroke: var(--neutral-0);
}

.modal__info {
  font-family: var(--text-preset-font-family-sans-serif);
  color: var(--neutral-200);
}

.modal__info-title {
  color: var(--neutral-0);
  font-size: var(--text-preset-3-font-size);
  line-height: var(--text-preset-line-height-sans-serif);
  font-weight: var(--text-preset-3-font-weight);
  letter-spacing: var(--text-preset-3-letter-spacing);
  margin-bottom: 6px;
}
.modal__info-description {
  font-size: var(--text-preset-4-5-font-size);
  line-height: var(--text-preset-line-height-sans-serif);
  font-weight: var(--text-preset-5-6-font-weight);
  letter-spacing: var(--text-preset-4-5-6-letter-spacing);
   width: 247px;
}

.modal__divider {
  height: 1px;
  background-color: var(--neutral-600);
  border: none;
}

.modal__bottom {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  padding: 16px 20px;
}

.modal__btn {
  height: 41px;
  padding: var(--spacing-150) var(--spacing-200);
  border-radius: var(--radius-8);
  font-family: var(--text-preset-font-family-sans-serif);
  font-size: var(--text-preset-4-5-font-size);
  line-height: var(--text-preset-4-5-6-letter-spacing);
  font-weight: var(--text-preset-4-font-weight);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-100);
}

.modal__btn--secondary {
  width: 78px;
  background-color: var(--neutral-500);
  color: var(--neutral-200);
  border: none;
}

.modal__btn--secondary:hover {
  color: var(--neutral-950);
  background-color: var(--neutral-400);
  border: 1px solid var(--neutral-300);
}
.modal__btn--secondary:focus-visible {
  outline: none;
  color: var(--neutral-950);
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-950);
  box-shadow: 0px 0px 0px 2px var(--neutral-0),
    0px 0px 0px 4px var(--neutral-400);
}

.modal__btn--secondary:disabled {
  background-color: var(--neutral-50);
  color: var(--neutral-300);
}

.modal__btn--primary {
   width: 120px;
  background-color: var(--red-500);
  color: var(--neutral-0);
  border: none;
}

.modal__btn--primary:hover {
  background-color: var(--red-500);
}
.modal__btn--primary:focus-visible {
  outline: none;
  box-shadow: 0px 0px 0px 2px var(--neutral-0),
    0px 0px 0px 4px var(--neutral-400);
}

.modal__btn--primary:disabled {
  background-color: var(--neutral-100);
  color: var(--neutral-300);
} */
